/* Elements */
body{
    font-family: Helvetica;
}

/* IDs */

#btn-search{
  background-color: #3899ec;
  color: aliceblue;
  border: none;
  font-weight: 300;
}

.dataTables_filter input { 
  border:  1px solid gray; 
  border-radius: 5px; 
  font-weight: 300;
}

#title-app{
  font-family: Helvetica;
  font-weight: 300;
  font-size: 45px;
}

#filters-container{
    margin-top: 20px;
}
#teams-container{
    margin-top: 40px;
}

/* Classes */
.btn-team{
    margin-top: 20px;
}
